
.modal {
    position: fixed !important;
    z-index: 15;
    left: 0;
    top: 0;
    visibility: visible;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    opacity: 0;
    margin-left: -1990px;

}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 57rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.background {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 375px) {
    img.req_frm_logo {
        height: 80px !important;
        margin-left: 95px;
    }

    h3.ctitle {
        font-size: 18px !important;
    }

    .frmClm a img {
        max-width: 100%;
        display: block;
        padding-left: 25px;
        padding-bottom: 7px;
    }

    .jfrom .frmClm label {
        text-align: center !important;
    }

    form input[type=text], form input[type=number], form input[type=email] {
        padding: 5px !important;
    }

    form textarea {
        padding: 5px !important;
    }

    .modal-content {
        position: absolute;
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
        background-color: white;
        padding: 10px !important;
        /*padding: 1rem 1.5rem;*/
        width: 20rem;
        border-radius: 0.5rem;
    }
}

@media (max-width: 414px) {
    img.req_frm_logo {
        height: 80px;
        margin-left: 112px;
    }

    h3.ctitle {
        font-size: 18px !important;
    }

    .frmClm a img {
        max-width: 100%;
        display: block;
        padding-left: 25px;
        padding-bottom: 7px;
    }

    .jfrom .frmClm label {
        text-align: center !important;
    }

    form input[type=text], form input[type=number], form input[type=email] {
        padding: 5px !important;
    }

    form textarea {
        padding: 5px !important;
    }

    .modal-content {
        position: fixed;
        background-color: white;
        padding: 10px !important;
        width: 23rem;
        border-radius: 0.5rem;
    }
}


@media (max-width: 375px) {
    .modal-content {
        width: 20rem !important;
    }

    img.req_frm_logo {
        height: 60px !important;
        margin-left: 115px;
    }
}

@media (max-width: 320px) {
    .frmClm input[type="submit"] {
        height: 25px!important;
    }

    .jform {
        width: 100%;
        height: 47vh;
    }

    img.req_frm_logo {
        height: 50px !important;
        margin-left: 115px;
    }

    .modal-content {
        width: 18rem !important;
        height: 535px;
    }

    .custom-class input, .custom-class label, .custom-class select, .custom-class button {
        font-size: 10px!important;
        height: 31px!important;
    }
    .custom-class textarea {
        height: 31px!important;
    }
    form.custom-class textarea {
        resize: none;
        min-height: 100px;
    }
}


