﻿@charset "UTF-8";

body  {
    background-color: #f00000;
}
.req_frm_card{
    background-color: #fff;
    margin: 1%;
    width: 98%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 16px 16px 25px rgba(0,0,0,.5);
}
.req_frm {
    padding: 10px;
}
.req_frm_logo {
    height: 150px;
    margin-top: 50px;
}
.frmClm label {
        margin-top: .5rem;
}
form .frmClm {
    margin-bottom: 20px;
}


/*@media (max-width: 768px) {*/
/*    .overlay_frm {*/
/*    padding: 10px 20px;*/
/*    }*/
/*    select.overlay {*/
/*        padding: 5px;*/
/*    }*/
/*    select option {*/
/*        padding: 10px!important;*/
/*    }*/
/*    form textarea {*/
/*        padding: 5px 10px;*/
/*    }*/
/*}*/